<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="bad786f6-a9e2-4b9a-860a-68b166b3d8d1"
            Publisher="CN=Rune"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Chopper.Win8</DisplayName>
    <PublisherDisplayName>Rune</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Chopper.Win8.App">
        <VisualElements
            DisplayName="Chopper.Win8"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Chopper.Win8"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>